/* Base Elements */
body {
  background-color: rgb(10, 15, 15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: manipulation;
  cursor: default;
  font-size: 18px;
}
body::-webkit-scrollbar {display: none}
table {margin-left: auto; margin-right: auto}
sub {font-family: Book Antiqua}
sup {font-family: Book Antiqua}
hr {background-color: rgb(100, 100, 100); border: none; height: 2px}
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -999;
}
span {color: rgb(150, 150, 150); font-family: "typewriter"; overflow-wrap: break-word}
input {
  color: rgb(127, 127, 127);
  background-color: rgb(50, 50, 50);
  border: none;
  font-size: 18px;
  height: 18px;
  width: 175px;
  outline: none;
}

/* Position */
.ch {position: absolute; left: 50%; transform: translateX(-50%)}
.ch2 {text-align: center}
.cv {position: absolute; top: 50%; transform: translateY(-50%)}
.chv {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)}
.cvh {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)}

/* Text */
/*.text {color: rgb(150, 150, 150); font-family: "Georgia"; overflow-wrap: break-word}*/
.redText {color: rgb(220, 20, 60); text-shadow: 0px 0px 25px rgb(220, 20, 60)}
.orangeText {color: rgb(255, 165, 0); text-shadow: 0px 0px 25px rgb(255, 165, 0)}
.yellowText {color: rgb(222, 222, 0); text-shadow: 0px 0px 25px rgb(222, 222, 0)}
.greenText {color: rgb(150, 200, 50); text-shadow: 0px 0px 25px rgb(150, 200, 50)}
.blueText {color: rgb(50, 50, 250); text-shadow: 0px 0px 25px rgb(50, 50, 250)}
.purpleText {color: rgb(150, 0, 210); text-shadow: 0px 0px 25px rgb(150, 0, 210)}
.goldText {color: rgb(212, 175, 55)}
.whiteText {color: rgb(255, 255, 255)}
.ba {font-family: Book Antiqua}
.ab {font-family: Book Antiqua}
.top {position: absolute; top: 2px; right: 0px; left: 0px}
.bottom {position: absolute; right: 0px; bottom: 2px; left: 0px}
.infoText {
  color: rgb(100, 100, 255);
  font-weight: bold;
  cursor: pointer;
  transition: font-size .5s;
}
.infoText:hover {
  font-size: 24px;
}
.achDisplayId {
  color: rgba(75, 125, 25, 0.25);
  width: 100%;
  font-size: 100px;
  font-family: Book Antiqua;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.eggDisplayId {
  color: rgba(111, 111, 0, 0.25);
  width: 100%;
  font-size: 100px;
  font-family: Book Antiqua;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ptDisplayId {
  color: rgb(10, 10, 50);
  width: 100%;
  font-size: 100px;
  font-family: Book Antiqua;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ppChallengeDisplayId {
  color: rgb(20, 20, 50);
  width: 100%;
  font-size: 160px;
  font-family: Book Antiqua;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* General Display */
.tab {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: color .2s, font-weight .2s, background-color .2s;
}
.tab:hover {color: rgb(200, 200, 200); font-weight: bold; background-color: rgb(0, 0, 0)}
.tabPurple {color: rgb(150, 0, 210); background-color: rgb(0, 0, 0); border-color: rgb(150, 0, 210)}
.tabPurple:hover {color: rgb(0, 0, 0); background-color: rgb(150, 0, 210)}
.tabBlue {color: rgb(25, 25, 255); background-color: rgb(0, 0, 0); border-color: rgb(25, 25, 255)}
.tabBlue:hover {color: rgb(0, 0, 0); background-color: rgb(25, 25, 255)}
.tabGreen {color: rgb(50, 200, 50); background-color: rgb(0, 0, 0); border-color: rgb(50, 200, 50)}
.tabGreen:hover {color: rgb(0, 0, 0); background-color: rgb(50, 200, 50)}
.tabYellow {color: rgb(222, 222, 0); background-color: rgb(0, 0, 0); border-color: rgb(222, 222, 0)}
.tabYellow:hover {color: rgb(0, 0, 0); background-color: rgb(222, 222, 0)}
.tabOrange {color: rgb(255, 165, 0); background-color: rgb(0, 0, 0); border-color: rgb(255, 165, 0)}
.tabOrange:hover {color: rgb(0, 0, 0); background-color: rgb(255, 165, 0)}
.tabRed {color: rgb(220, 20, 60); background-color: rgb(0, 0, 0); border-color: rgb(220, 20, 60)}
.tabRed:hover {color: rgb(0, 0, 0); background-color: rgb(220, 20, 60)}

.grayBorder {border: 2px solid rgb(127, 127, 127)}
.grayBorder2 {border: 2px solid rgb(63, 63, 63)}
.dropdown {position: relative}
.dropdown:hover .dropdown-content {display: block}
.dropdown-content {
  background-color: rgb(15, 15, 15);
  border: 2px solid rgb(35, 140, 35);
  border-radius: 10px;
  width: 100%;
  position: absolute;
  top: 66px;
  display: none;
  z-index: 1;
}
.dropdown-item {border: 2px solid rgb(35, 140, 35); margin: 1px; transition: background-color .2s}
.dropdown-item:hover {background-color: rgb(50, 50, 50)}
.table {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.tableRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Buttons */
.incrementb {
  border: 2px solid rgb(75, 0, 125);
  border-radius: 10px;
  margin: 1px 0px 1px 0px;
}
.prestigeb {
  border: 2px solid rgb(12, 12, 150);
  border-radius: 10px;
  margin: 1px 0px 1px 0px;
}
.toggleState {
  border: 2px solid rgb(220, 20, 60);
  border-radius: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.option {
  border: 2px solid rgb(35, 140, 35);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  height: 64px;
  width: 25%;
  position: relative;
  display: table-cell;
}
.ppCell {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(50, 50, 250);
  border-radius: 10px;
  height: 110px;
  width: 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#refundPT {
  border: 2px solid rgb(50, 50, 250);
  border-radius: 10px;
  margin: 5px;
  height: 50px;
  width: 160px;
  position: relative;
  cursor: pointer;
}
.ppChallengeCell {
  border: 2px solid rgb(50, 50, 250);
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  width: 225px;
  position: relative;
}

/* Cells */
.canBuy {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color .2s;
}
.cantBuy {
  background-color: rgb(35, 35, 35);
  cursor: default;
  transition: background-color .2s;
}
.achievement {
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(35, 140, 35);
  border-radius: 10px;
  height: 150px;
  width: 150px;
  position: relative;
}
.egg {
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(222, 222, 0);
  border-radius: 10px;
  height: 150px;
  width: 150px;
  position: relative;
}
.prestigeMilestone {
  border: 2px solid rgb(50, 50, 250);
  margin: 2px;
  height: 50px;
  width: 500px;
  position: relative;
}
.ppComplete {
  background-color: rgb(25, 25, 85);
  outline: none;
  transition: background-color .2s;
}
.ppCellEmpty {
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 15px;
  height: 110px;
  width: 160px;
  position: relative;
}

/* Tooltips */
.tooltip-content {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
.tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(25, 25, 25) transparent transparent transparent;
}
.tooltip-element:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

/* Progress Bars */
.pb {
  background-color: rgb(100, 100, 100);
  border-radius: 25px;
  width: 95%;
  min-height: 25px;
  position: relative;
  margin-top: 2px;
}
#pbip {
  background-color: rgb(150, 0, 210);
  border-radius: 25px;
  width: 0%;
  height: 100%;
}
#pbpp {
  background-color: rgb(50, 50, 250);
  border-radius: 25px;
  width: 0%;
  height: 100%;
}
#pbOffline {
  background-color: rgb(200, 200, 200);
  border-radius: 25px;
  width: 0%;
  height: 100%;
}
.pbPPMilestone {
  background-color: rgb(25, 25, 85);
  width: 0%;
  height: 100%;
}

/* Loading */
#loading {
  border: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#loadingScreen {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transition: opacity .75s;
}
#offlineBox {
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(35, 140, 35);
  height: 175px;
  width: 50%;
  max-width: 500px;
  padding: 10px 0px 10px 0px;
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  color: rgb(150, 150, 150);
  border: 2px solid rgb(35, 140, 35);
  border-radius: 10px;
  height: 25px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  transition: color .2s, background-color .2s;
}
.close:hover {color: rgb(0, 0, 0); background-color: rgb(35, 140, 35)}
